.right-container{
    background-color: #fff;
    color: #1e1e1e;
    padding: 20px;
    .header{
        display:flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom:  1px solid black;
        .add-Folder{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:3px;
            border: none;
            color: #1e1e1e;
            background-color: orange;
            font-size: 20px;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px;
            
        }
        .my{
            font-weight: 400;
        }
    }
    .folder-container{
        .folder-header{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid #1e1e1e;
            .folder-header-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap:20px;
                .newPBtn{
                    display: flex;
                    justify-content: space-between;
                    gap:5px;
                    background-color:#6EC207;
                    padding: 10px 5px;
                    border-radius: 10px;
                    border: none;
                    span{
                        color: #1e1e1e;
                        font-weight:800;
                        font-size: 15px;  
                    }
                   
                }
                .icons{
                    font-size: 30px; 
                }
            }
        }
    }
}